
@{
    Layout = "~/Views/Shared/_Layout_Body.cshtml";
}
@using MaterialCodeSelectionPlatform.Domain
@model IEnumerable<PartNumberReport>

<link href="~/css/formSelects-v4.css" rel="stylesheet" />
<script src="~/js/jsencrypt.min.js"></script>
<form class="layui-form layui-form-model" action="">
    @Html.AntiForgeryToken()@*隐藏域，用于防CSRF攻击*@
    <input type="hidden" name="Id" value="@ViewData["id"]" />
    <div class="layui-row">
        <div class="layui-form" style="padding-bottom:50px">
            @{ 
                foreach (var report in Model)
                {
                   
                        <table class="layui-table">
                            <colgroup>
                                <col width="500">
                                <col width="500">
                                <col width="200">
                            </colgroup>
                            <thead>
                                <tr style="background-color:deepskyblue;color:white">
                                    <th colspan="3">@report.ComponentTypeName </th>                                   
                                </tr>
                                <tr>
                                    <th>采购码 </th>
                                    <th>尺寸 </th>
                                    <th>数量 </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ent in report.PartNumberList)
                                {
                                    var txtId = $"txt_{ent.Id}";
                                    <tr>
                                        <td>@ent.Code</td>
                                        <td>@ent.CN_SizeDesc</td>
                                        <td>
                                            <input type="text" lay-verify="number" onkeyup="clearNoNum(this)" id="@txtId" name="@txtId" value="@ent.DesignQty" commoditycodeid="@ent.CommodityCodeId" placeholder="请输入数量" autocomplete="off" class="layui-input" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                }
            }
         
        </div>
        <div class=" layui-row layer-footer" style="position: fixed; bottom: 0;background-color:#F8F8F8;width:100%;height:50px">
            <button type="button" id="btnUpdate" class="layui-btn layui-btn-normal layui-float-right"  style="margin:5px">更新物料表</button>
        </div>
    </div>

</form>

<script src="~/js/jsencrypt.min.js"></script>
<script type="text/javascript">   
    function clearNoNum(obj){ 
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符  
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的  
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$","."); 
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');//只能输入两个小数  
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额 
            obj.value= parseFloat(obj.value); 
        } 
    } 

      layui.use(['form', 'table', 'layer', 'jquery'],
        function () {
            var form = layui.form;
            var layer = layui.layer;
            var table = layui.table;
            var $ = layui.jquery;
            $('#btnUpdate').on('click', function () {
                var txtList = $("input[type='text']");
                var commodityCodeId = "@ViewData["commodityCodeId"]";
                var projectId = "@ViewData["projectId"]";
                var deviceId = "@ViewData["deviceId"]";
                var list = new Array();
                if (txtList != null && txtList.length > 0) {
                    for (var i = 0; i < txtList.length; i++) {
                        if (txtList[i].value != "" && parseFloat(txtList[i].value) > 0) {
                            var obj = new Object();
                            obj.Id = txtList[i].id.split("_")[1];
                            obj.DesignQty = $(txtList[i]).val();
                            obj.ProjectId = projectId;
                            obj.DeviceId = deviceId;
                            obj.CommoditycodeId= $(txtList[i]).attr("commoditycodeid");
                            list.push(obj);
                        }
                    }
                }
                //alert(JSON.stringify(list));
                $.post("/CommodityCodeSelect/SaveMaterialTakeOffDetail", { list: list,commodityCodeId:commodityCodeId,projectId:projectId,deviceId:deviceId}, function (data) {                
                    layer.msg(data.message);
                  //  window.location.reload();
                });    
            });
        });
</script>